<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete: {{ question.question_text }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger"><a href="{% url 'polls:detail' question.pk %}">cancel</a></button>
        <input type="submit" value="delete">
    </form>
    
</body>
</html>